@page
@model MySite.Models.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Company</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Company.Title" class="control-label"></label>
                <input asp-for="Company.Title" class="form-control" />
                <span asp-validation-for="Company.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.Description" class="control-label"></label>
                <input asp-for="Company.Description" class="form-control" />
                <span asp-validation-for="Company.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.Tags" class="control-label"></label>
                <input asp-for="Company.Tags" class="form-control" />
                <span asp-validation-for="Company.Tags" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.Images" class="control-label"></label>
                <input asp-for="Company.Images" class="form-control" />
                <span asp-validation-for="Company.Images" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.Video" class="control-label"></label>
                <input asp-for="Company.Video" class="form-control" />
                <span asp-validation-for="Company.Video" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.Topic" class="control-label"></label>
                <input asp-for="Company.Topic" class="form-control" />
                <span asp-validation-for="Company.Topic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.ExpiryDate" class="control-label"></label>
                <input asp-for="Company.ExpiryDate" class="form-control" />
                <span asp-validation-for="Company.ExpiryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
